* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap');

:root {
    --var01: hsl(234, 85%, 45%);
    --var02: hsl(166, 100%, 37%);
    --var03: hsl(252, 100%, 67%);
    --var04: hsl(241, 81%, 54%);

    --var05: hsl(0, 100%, 67%);
    --var06: hsl(39, 100%, 56%);
    --var07: hsl(166, 100%, 37%);
    --var08: hsl(234, 85%, 45%);

    --var09: hsl(224, 30%, 27%);
    --var10: hsl(241, 100%, 89%);
    --var11: hsl(221, 100%, 96%);
}

body{
    font-family: 'Hanken Grotesk', sans-serif;
}

.box-p{
    margin-top: 15px;
    opacity: 0.5;
    font-size: 18px;
}

main {
    width: 100vw;
    height: 100vh;
}

.container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

section {
    width: 370px;
    height: 513px;
    text-align: center;
    border-radius: 40px;
}

#box1 {
    color: white;
    background-image: linear-gradient(to top, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
}
 
#box2{
    box-shadow: 10px 10px 20px hsl(241, 100%, 89%) ;
    border-radius: 0px 40px 40px 0px;
}


#titulo1 {
    padding-top: 40px;
    font-weight: 300;
    opacity: 0.7;
}

.number {
    width: 190px;
    height: 190px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;


    border-radius: 50%;
    background-image: linear-gradient(to top, hsla(241, 72%, 46%, 0), hsla(256, 72%, 46%, 1));
}

h3 {
    font-size: 4.0em;
    font-weight: bolder;
}

.meio {
    line-height: 30px;
    padding-top: 70px;
}

#titulo2{
    opacity: 0.8;
    text-align: left;
    padding-top: 40px;
    margin-left: 40px;
 }
 

#baixo>h2 {
    font-size: 2.0em;
    margin-bottom: 10px;
    margin-top: 10px;
}

#baixo {
    width: 250px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 30px;
}

.dados-box2{
    padding-top: 15px;
    font-weight: 800;
}

.bloco-yellow, .blocos-gren{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 40px;
    margin-top: 17px;
    
    
    border-radius: 10px;
    width: 270px;
    height: 56px;
    
    background-color: hsla(39, 100%, 56%, 0.062);;
}

.blocos-gren{
    background-color: hsla(166, 100%, 37%, 0.062);
}



#red{
    color: var(--var05);
}

#yellow{
    color: var(--var06);
}

#gren{
    margin-right: 15px;
    color: var(--var07);
}

#blue{
    margin-right: 15px;
    color: var(--var08);
}

h4, img{
    text-align: left;
    opacity: 0.8;
    position: relative;
    right: 20%;
    margin-left: 8px;
}

.bloco-yellow>p{
    position: relative;
    left: 45px;
}

.blocos-gren>p{
    position: relative;
    left: 45px;
}

button{
    width: 287px;
    height: 60px;
    margin-top: 40px;

    font-size: 18px;
    color: var(--var11);

    border-radius: 50px;
    border: none;
    background-color: var(--var09);
}

